* {
    box-sizing: border-box;
    /*max-height: 100vh;*/
}

*:not(input)::selection {
    background: none;
}

html {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

.ligne {
    display : flex;
    /*flex-direction: row-reverse;*/
}

body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

.loading {
    background: center no-repeat url("/img/fond.png"), radial-gradient(white,#5ac5d4) !important;
    height:100%;
    width:100%;
    position: absolute;
    z-index: 99;
}

.liste-btn-mainMenu button {
    margin : 5px;
}

.azul-bg {
    background: center no-repeat url("/img/fond.png"), radial-gradient(white,#5ac5d4) !important;
    height:100%;
}

.overlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(110,110,110,0.3);
    z-index: 10;
}

.modal-regles-overlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(110,110,110,0.3);
    z-index: 10;
 }

#modalRegles {
    z-index: 11;
    height: 85vh;
}

.player-slots {
    /*display:flex;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
}

.player-card {
    position: relative;
}

.player-card > img{
    cursor: pointer;
}

.player-card:hover .tooltip {
    transition: 0.2s all ease;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color : white;
    padding: 2px 0px;
    text-align: center;
    opacity: 0.8;
}

.not-selected {
    filter: grayscale(1);
}

.input-main-menu {
    transition: max-height 0.3s linear;
    max-height:200px;
}

.not-selected-input {
    max-height: 0;
}

.input-group-append button {
    z-index:0 !important;
}

.group-btn-main-menu {
    flex-wrap: wrap;
}

.mozaique-selected{
    text-align: center;
    position: relative;
    width:100% !important;
    justify-content: center;
}

.mozaique-selected > .mozaique {
    width: 10% !important;
}

.close {
    z-index:99;
    font-size: 3rem !important;
}

.close-selection {
    border: solid 3px white;
    border-radius: 10%;
    background: rgba(10,10,10,0.7);
    display: inline-block;
    width: 70px;
}

.close-selection:hover {
    background: rgba(10,10,10,0.3);
}

.close > span {
    vertical-align: super;
}





/* ANIMATIONS */

/* BOUNCE */



.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.highlight > img {
    filter : drop-shadow(2px 2px 0 black) drop-shadow(-1px -1px 0 black);
}

.breath {
    animation : breathing 5s linear infinite;
}

@keyframes breathing {
    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    60% {
        transform: scale(1);
    }
}

.light-around {
    animation: clignotage 1.5s infinite;
    border-radius: 5%;
}

@keyframes clignotage {
    0% {
        box-shadow: 0px 0px 5px yellow;
    }

    50% {
        box-shadow: 0px 0px 30px yellow;
    }

    100% {
        box-shadow: 0px 0px 5px yellow;
    }
}

.fenetre-winner-overflow {
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(110,110,110,0.2);
    position:fixed;
    z-index:1020;
}

.fenetre-winner {
    /*background: rgba(87,115,173,0.9);*/
    background: rgba(10,10,10,0.9);
    width: 70%;
    border-radius: 10px;
    border: solid 5px white;
}

img.couronne-victoire {
    width: 50px;
    height: 50px;
}

.victoire-titre {
    font-size : 7vw !important;
}

.victoire-score {
    font-size : 4vw !important;
}

.btn-victoire {
    /*background-color: rgba(97,197,212,0.7);*/
    background-color: rgba(255,255,255,0.08);
    border-radius: 10px;
    border: solid 3px white;
    cursor: pointer;
    /*transition: transform 0.1s linear;*/
}

.btn-victoire:hover {
    transform: scale(1.02);
}

.text-btn-victoire {
    font-size : 1.1vw !important;
    font-weight: bold;
    color: white;
}

.setting-aria {
    position : fixed;
    top:0;
    width: auto;
    left:0;
    bottom:0;
    z-index: 1100;
    overflow: hidden;
    transition: transform 0.3s ease-out;
    transform-origin:left;
}

#setting-aria {
    border-right: solid 5px rgb(97,197,212) !important;
}

#setting-img {
    min-width : 30px;
    min-height : 30px;
    max-width : 30px;
    max-height : 30px;
}

.setting-btn-aria {
    position:fixed;
    top:0;
    z-index: 1100;
    transition: left 0.3s ease-out;
}

.setting-titre {
    border-top: solid 5px rgb(97,197,212);
    border-bottom: solid 5px rgb(97,197,212);
}

#setting-btn {
    background: rgba(97,197,212,1);
    box-shadow: 0 0 5px #5ac5d4;
    border : 1px solid /*#5ac5d4*/ white;
}

.setting-btn-aria:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.menu-liste button {
    margin: 5px 0;
}

.waiting-reponse {
    top:0;
    right:0;
    left:0;
    bottom:0;
    position:fixed;
    z-index:1020;
    background-color: rgba(10,10,10,0.2);
}
.waiting-reponse div {
    width: 15rem;
    height: 15rem;
    border-width: 8px;
}

.close {
    opacity: 1 !important;
    font-size: 5em !important;
}

.btn-annuler-action {
    position: absolute;
    overflow: hidden;
    border: solid 3px white;
    box-shadow: 0 0 15px black;
    z-index: 500;
    right:0;
}

.btn-avis {
    border: solid 2px #0056b3 !important;
    /*border: solid 2px white !important;*/
    font-size : 1vw !important;
}

.btn-avis:hover {
    border-color : #0056b3 !important;
    color : #0056b3 !important;
}